Repository jong950715/aclick-iot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-admin, @core-team, @iot-team, @phone-team, @devops-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
* @project-admin

# Core package owners
/packages/core/ @core-team

# IoT app owners
/apps/iot/ @iot-team

# Phone app owners
/apps/phone/ @phone-team

# CI/CD configuration owners
/.github/ @devops-team

~Task2.4
  packages/core/lib/src/encryption/encryptor.dart
  packages/core/lib/src/network/bluetooth_protocol_handler.dart
Owners: @core-team

bluetooth 안정성 강화
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/BluetoothClassicPlugin.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/BluetoothConnection.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/BluetoothEventDispatcher.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/BluetoothManager.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/ConnectionManager.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/Constants.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/DiscoveryManager.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/PermissionManager.kt
  packages/bluetooth_classic/android/src/main/kotlin/com/aclick/bluetooth_classic/ServerSocketManager.kt
  packages/bluetooth_classic/lib/src/platform/android/android_bluetooth_platform.dart
Owners: @project-admin

refactor(wifi): rework draft implementation due to issues test(wifi): successful ping confirms revised version
  apps/iot/android/app/build.gradle.kts
  apps/iot/android/app/src/main/AndroidManifest.xml
  apps/iot/android/app/src/main/kotlin/com/example/iot/EphemeralWifiManager.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/MainActivity.kt
  apps/iot/devtools_options.yaml
  apps/iot/lib/main.dart
  apps/iot/lib/screens/bluetooth_connect_screen.dart
  apps/iot/lib/services/http_server_service.dart
  apps/iot/lib/services/network_helper.dart
  apps/iot/pubspec.lock
  apps/iot/pubspec.yaml
  apps/iot/test/widget_test.dart
  apps/phone/android/app/build.gradle.kts
  apps/phone/lib/src/services/http_server_service.dart
  apps/phone/lib/src/views/bluetooth_test_screen.dart
  apps/phone/pubspec.lock
  apps/phone/pubspec.yaml
  packages/core/lib/src/network/bluetooth_protocol.dart
  packages/core/lib/src/network/bluetooth_protocol_handler.dart
  packages/wifi_hotspot/README.md
  packages/wifi_hotspot/android/build.gradle
  packages/wifi_hotspot/android/src/main/kotlin/com/example/wifi_hotspot/WifiHotspotPlugin.kt
  packages/wifi_hotspot/lib/wifi_hotspot.dart
  packages/wifi_hotspot/pubspec.yaml
  tasks/task_003.txt
  tasks/tasks.json
Owners: @iot-team, @phone-team, @core-team, @project-admin

feat(file-transfer): POC for multipart upload to phone-hosted HTTP server
  apps/iot/android/app/src/main/kotlin/com/example/iot/EphemeralWifiManager.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/MainActivity.kt
  apps/iot/lib/screens/bluetooth_connect_screen.dart
  apps/iot/lib/services/network_helper.dart
  apps/iot/pubspec.lock
  apps/iot/pubspec.yaml
  apps/phone/android/app/src/main/AndroidManifest.xml
  apps/phone/lib/main.dart
  apps/phone/lib/src/services/http_server_service.dart
  apps/phone/lib/src/utils/file_path_utils.dart
  apps/phone/lib/src/views/bluetooth_test_screen.dart
  apps/phone/pubspec.lock
  apps/phone/pubspec.yaml
Owners: @iot-team, @phone-team

feat(recording): initial implementation of video capture (POC, unstable)
  .taskmasterconfig
  apps/iot/android/app/src/main/AndroidManifest.xml
  apps/iot/android/app/src/main/kotlin/com/example/iot/MainActivity.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentedVideoRecorder.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/StorageManager.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VideoMethodChannel.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VideoSegmentManager.kt
  apps/iot/lib/main.dart
  apps/iot/lib/screens/video_recording_test_screen.dart
  apps/iot/lib/services/video_recording_service.dart
  apps/iot/lib/utils/file_path_utils.dart
  apps/iot/notepad
  apps/iot/pubspec.lock
  apps/iot/pubspec.yaml
  scripts/task-complexity-report.json
  tasks/task_006.txt
  tasks/tasks.json
Owners: @project-admin, @iot-team

chore(recording)
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentedVideoRecorder.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VideoMethodChannel.kt
Owners: @iot-team

feat(video): (POC) implement event-based video saving
  apps/iot/android/app/build.gradle.kts
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentRepository.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentedVideoRecorder.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentedVideoRecorder_old.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VideoMethodChannel.kt
  apps/iot/lib/models/event_clip_state.dart
  apps/iot/lib/screens/video_recording_test_screen.dart
  apps/iot/lib/services/event_clip_handler.dart
  apps/iot/lib/services/video_recording_service.dart
Owners: @iot-team

refactor(ui): split views and simplify logic
  apps/iot/android/app/src/main/kotlin/com/example/iot/MainActivity.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VolumeKeyActivity.kt
  apps/iot/assets/sounds/error_sound.wav
  apps/iot/assets/sounds/event_sound.wav
  apps/iot/assets/sounds/saved_sound.wav
  apps/iot/lib/button_test.dart
  apps/iot/lib/screens/bluetooth_connect_screen.dart
  apps/iot/lib/screens/video_recording_test_screen.dart
  apps/iot/lib/services/console_manager.dart
  apps/iot/lib/services/ephemeral_network_helper.dart
  apps/iot/lib/services/event_clip_handler.dart
  apps/iot/lib/services/http_server_service.dart
  apps/iot/lib/services/sound_manager.dart
  apps/iot/lib/services/volume_key_manager.dart
  apps/iot/lib/services/wifi_manager.dart
  apps/iot/lib/widgets/bluetooth_section.dart
  apps/iot/lib/widgets/console_view.dart
  apps/iot/lib/widgets/wifi_section.dart
  apps/iot/pubspec.lock
  apps/iot/pubspec.yaml
  tasks/task_004.txt
  tasks/task_005.txt
  tasks/task_006.txt
  tasks/task_007.txt
  tasks/task_008.txt
  tasks/task_009.txt
  tasks/task_010.txt
  tasks/tasks.json
Owners: @iot-team, @project-admin

카메라 개선해봄. 되는지는 테스트 못함.
  apps/iot/android/app/build.gradle.kts
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentedVideoRecorder.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VideoMethodChannel.kt
  apps/iot/lib/viewmodels/app_view_model.dart
  apps/phone/android/app/proguard-rules.pro
  packages/ephemeral_wifi/android/proguard-rules.pro
Owners: @iot-team, @phone-team, @project-admin

꽤나 안정화 된듯
  apps/iot/android/app/build.gradle.kts
  apps/iot/android/app/src/main/kotlin/com/example/iot/MainActivity.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentRepository.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/SegmentedVideoRecorder.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VideoMethodChannel.kt
  apps/iot/android/app/src/main/kotlin/com/example/iot/VolumeKeyActivity.kt
  apps/iot/lib/services/ble_manager.dart
  apps/iot/lib/services/ble_manager.g.dart
  apps/iot/lib/services/event_clip_handler.dart
  apps/iot/lib/services/file_server_service.dart
  apps/iot/lib/services/file_server_service.g.dart
  apps/iot/lib/services/video_recording_service.dart
  apps/iot/lib/services/wifi_hotspot_service.dart
  apps/iot/lib/services/wifi_hotspot_service.g.dart
  apps/iot/lib/viewmodels/app_view_model.dart
  apps/iot/lib/viewmodels/app_view_model.g.dart
  apps/iot/lib/views/control_buttons_view.dart
  apps/iot/lib/views/home_page.dart
Owners: @iot-team

feat(foreground)
  apps/iot/lib/services/ble_manager.dart
  apps/iot/lib/services/event_clip_saver.dart
  apps/iot/lib/services/event_clip_transfer.dart
  apps/iot/lib/services/file_server_service.dart
  apps/iot/lib/utils/list_notifier.dart
  apps/iot/lib/viewmodels/app_view_model.dart
  apps/iot/lib/views/control_buttons_view.dart
  apps/phone/android/app/build.gradle.kts
  apps/phone/android/app/src/main/AndroidManifest.xml
  apps/phone/lib/core/foreground_service_handler.dart
  apps/phone/lib/main.dart
  apps/phone/lib/services/ble_service.dart
  apps/phone/lib/services/ble_service.g.dart
  apps/phone/lib/services/network_service.dart
  apps/phone/lib/services/network_service.g.dart
  apps/phone/lib/utils/list_notifier.dart
  apps/phone/lib/viewmodels/log_view_model.dart
  apps/phone/lib/viewmodels/log_view_model.g.dart
  apps/phone/lib/viewmodels/new_event_clip_view_model.dart
  apps/phone/lib/viewmodels/new_event_clip_view_model.g.dart
  apps/phone/lib/views/home_page.dart
  apps/phone/pubspec.lock
  apps/phone/pubspec.yaml
  packages/bluetooth_classic/README.md
  packages/bluetooth_classic/example/android/app/src/main/AndroidManifest.xml
Owners: @iot-team, @phone-team, @project-admin

.
  apps/phone/android/app/build.gradle.kts
  apps/phone/android/app/src/main/AndroidManifest.xml
  apps/phone/android/app/src/main/kotlin/com/example/phone/MainActivity.kt
Owners: @phone-team

poc(integrated test): 통과!
  apps/iot/android/app/src/main/AndroidManifest.xml
  apps/iot/android/app/src/main/kotlin/com/example/iot/StorageManager.kt
  apps/iot/lib/services/ble_manager.dart
  apps/iot/lib/services/event_clip_saver.dart
  apps/iot/lib/services/event_clip_transfer.dart
  apps/iot/lib/services/event_handler.dart
  apps/iot/lib/services/file_server_service.dart
  apps/iot/lib/services/gps_service.dart
  apps/iot/lib/utils/file_path_utils.dart
  apps/iot/lib/utils/list_notifier.dart
  apps/iot/lib/viewmodels/app_view_model.dart
  apps/iot/lib/views/control_buttons_view.dart
  apps/iot/pubspec.lock
  apps/iot/pubspec.yaml
  apps/phone/assets/xml/novatek_list_example.xml
  apps/phone/lib/core/utc_date_time.dart
  apps/phone/lib/foreground/foreground_service_handler.dart
  apps/phone/lib/main.dart
  apps/phone/lib/models/event_record.dart
  apps/phone/lib/models/lazy_x_file.dart
  apps/phone/lib/models/lazy_x_file.freezed.dart
  apps/phone/lib/models/lazy_x_file.g.dart
  apps/phone/lib/services/ble_service.dart
  apps/phone/lib/services/network_service.dart
  apps/phone/lib/services/network_service.g.dart
  apps/phone/lib/services/report_repository.dart
  apps/phone/lib/utils/clip_query.dart
  apps/phone/lib/utils/event_clip_editor.dart
  apps/phone/lib/utils/file_path_utils.dart
  apps/phone/lib/viewmodels/new_event_clip_view_model.dart
  apps/phone/lib/views/control_buttons_view.dart
  apps/phone/lib/views/home_page.dart
  apps/phone/pubspec.lock
  apps/phone/pubspec.yaml
  apps/phone/test/clip_query_test.dart
Owners: @iot-team, @phone-team

이사
  apps/iot/lib/services/event_handler.dart
  packages/core/lib/src/constants/bluetooth_constants.dart
Owners: @iot-team, @core-team
